body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1100px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:151px;
  width:135px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u140_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:131px;
  word-wrap:break-word;
}
#u141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:604px;
  width:135px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u141_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:131px;
  word-wrap:break-word;
}
#u142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:454px;
  width:135px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u142_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:131px;
  word-wrap:break-word;
}
#u143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
  background:inherit;
  background-color:rgba(153, 0, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:68px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:604px;
  width:135px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u143_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:131px;
  word-wrap:break-word;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:534px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u144_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:74px;
}
#u144_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:55px;
  width:20px;
  height:20px;
}
#u144_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  word-wrap:break-word;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:644px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u145_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u145_seg1 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:-10px;
  width:20px;
  height:20px;
}
#u145_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:912px;
  width:135px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u146_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:131px;
  word-wrap:break-word;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:684px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u147_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:74px;
}
#u147_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:55px;
  width:20px;
  height:20px;
}
#u147_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:25px;
  width:100px;
  word-wrap:break-word;
}
#u148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:1062px;
  width:135px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u148_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:131px;
  word-wrap:break-word;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:798px;
  top:992px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u149_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:74px;
}
#u149_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:55px;
  width:20px;
  height:20px;
}
#u149_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:865px;
  top:1102px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u150_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u150_seg1 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:-154px;
  width:8px;
  height:158px;
}
#u150_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-154px;
  width:64px;
  height:8px;
}
#u150_seg3 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-160px;
  width:20px;
  height:20px;
}
#u150_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-85px;
  width:100px;
  word-wrap:break-word;
}
#u151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:1212px;
  width:135px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u151_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:131px;
  word-wrap:break-word;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:798px;
  top:1142px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u152_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:74px;
}
#u152_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:55px;
  width:20px;
  height:20px;
}
#u152_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:25px;
  width:100px;
  word-wrap:break-word;
}
#u153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:1212px;
  width:135px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u153_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:131px;
  word-wrap:break-word;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:798px;
  top:1292px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u154_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:9px;
}
#u154_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:1px;
  width:8px;
  height:62px;
}
#u154_seg2 {
  border-width:0px;
  position:absolute;
  left:-180px;
  top:55px;
  width:184px;
  height:8px;
}
#u154_seg3 {
  border-width:0px;
  position:absolute;
  left:-239px;
  top:55px;
  width:67px;
  height:8px;
}
#u154_seg4 {
  border-width:0px;
  position:absolute;
  left:-474px;
  top:55px;
  width:243px;
  height:8px;
}
#u154_seg5 {
  border-width:0px;
  position:absolute;
  left:-474px;
  top:0px;
  width:8px;
  height:63px;
}
#u154_seg6 {
  border-width:0px;
  position:absolute;
  left:-480px;
  top:-5px;
  width:20px;
  height:20px;
}
#u154_text {
  border-width:0px;
  position:absolute;
  left:-285px;
  top:51px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(153, 0, 204, 1);
  border-radius:68px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#9900CC;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:965px;
  top:1212px;
  width:135px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#9900CC;
}
#u155_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:131px;
  word-wrap:break-word;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:865px;
  top:1252px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u156_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u156_seg1 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:-10px;
  width:20px;
  height:20px;
}
#u156_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(153, 0, 204, 1);
  border-radius:68px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#9900CC;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:604px;
  width:135px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#9900CC;
}
#u157_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:131px;
  word-wrap:break-word;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:644px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u158_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u158_seg1 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:-10px;
  width:20px;
  height:20px;
}
#u158_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:754px;
  width:135px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u159_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:131px;
  word-wrap:break-word;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:794px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u160_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:407px;
  height:8px;
}
#u160_seg1 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:-4px;
  width:8px;
  height:122px;
}
#u160_seg2 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:103px;
  width:20px;
  height:20px;
}
#u160_text {
  border-width:0px;
  position:absolute;
  left:210px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:834px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u161_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:382px;
}
#u161_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:363px;
  width:20px;
  height:20px;
}
#u161_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:181px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
  background:inherit;
  background-color:rgba(153, 0, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:68px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:1062px;
  width:135px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u162_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:131px;
  word-wrap:break-word;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:1252px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u163_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:172px;
  height:8px;
}
#u163_seg1 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:-110px;
  width:8px;
  height:114px;
}
#u163_seg2 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:-115px;
  width:20px;
  height:20px;
}
#u163_text {
  border-width:0px;
  position:absolute;
  left:89px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:1102px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u164_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:49px;
  height:8px;
}
#u164_seg1 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:-154px;
  width:8px;
  height:158px;
}
#u164_seg2 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:-154px;
  width:59px;
  height:8px;
}
#u164_seg3 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:-160px;
  width:20px;
  height:20px;
}
#u164_text {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-90px;
  width:100px;
  word-wrap:break-word;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
  background:inherit;
  background-color:rgba(153, 0, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:68px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:301px;
  width:135px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u166_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:131px;
  word-wrap:break-word;
}
#u167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:301px;
  width:135px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u167_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:131px;
  word-wrap:break-word;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:381px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
}
#u168_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:74px;
}
#u168_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:55px;
  width:20px;
  height:20px;
}
#u168_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:25px;
  width:100px;
  word-wrap:break-word;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:341px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
}
#u169_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:102px;
  height:8px;
}
#u169_seg1 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:-10px;
  width:20px;
  height:20px;
}
#u169_text {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:301px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
}
#u170_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-114px;
  width:8px;
  height:114px;
}
#u170_seg1 {
  border-width:0px;
  position:absolute;
  left:-166px;
  top:-114px;
  width:170px;
  height:8px;
}
#u170_seg2 {
  border-width:0px;
  position:absolute;
  left:-171px;
  top:-120px;
  width:20px;
  height:20px;
}
#u170_text {
  border-width:0px;
  position:absolute;
  left:-78px;
  top:-120px;
  width:100px;
  word-wrap:break-word;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:231px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u171_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:74px;
}
#u171_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:55px;
  width:20px;
  height:20px;
}
#u171_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:25px;
  width:100px;
  word-wrap:break-word;
}
#u172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:340px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u172_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  white-space:nowrap;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:684px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u173_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u173_seg1 {
  border-width:0px;
  position:absolute;
  left:-239px;
  top:46px;
  width:243px;
  height:8px;
}
#u173_seg2 {
  border-width:0px;
  position:absolute;
  left:-239px;
  top:46px;
  width:8px;
  height:24px;
}
#u173_seg3 {
  border-width:0px;
  position:absolute;
  left:-245px;
  top:55px;
  width:20px;
  height:20px;
}
#u173_text {
  border-width:0px;
  position:absolute;
  left:-152px;
  top:40px;
  width:100px;
  word-wrap:break-word;
}
#u174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(153, 0, 204, 1);
  border-radius:68px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#9900CC;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:912px;
  width:135px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#9900CC;
}
#u174_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:131px;
  word-wrap:break-word;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:992px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u175_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:74px;
}
#u175_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:55px;
  width:20px;
  height:20px;
}
#u175_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
