body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1554px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:144px;
  width:135px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u114_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:131px;
  word-wrap:break-word;
}
#u115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:597px;
  width:135px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u115_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:131px;
  word-wrap:break-word;
}
#u116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:182px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:1208px;
  top:591px;
  width:346px;
  height:182px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u116_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:47px;
  width:306px;
  word-wrap:break-word;
}
#u117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:447px;
  width:135px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u117_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:131px;
  word-wrap:break-word;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:527px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u118_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:74px;
}
#u118_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:55px;
  width:20px;
  height:20px;
}
#u118_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:25px;
  width:100px;
  word-wrap:break-word;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:677px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u119_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:74px;
}
#u119_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:55px;
  width:20px;
  height:20px;
}
#u119_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:25px;
  width:100px;
  word-wrap:break-word;
}
#u120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(153, 0, 204, 1);
  border-radius:68px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#9900CC;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:747px;
  width:135px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#9900CC;
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:131px;
  word-wrap:break-word;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:787px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u121_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u121_seg1 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:-10px;
  width:20px;
  height:20px;
}
#u121_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
  background:inherit;
  background-color:rgba(153, 0, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:68px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:294px;
  width:135px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u123_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:131px;
  word-wrap:break-word;
}
#u124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:294px;
  width:135px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u124_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:131px;
  word-wrap:break-word;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:374px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
}
#u125_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:74px;
}
#u125_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:55px;
  width:20px;
  height:20px;
}
#u125_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:25px;
  width:100px;
  word-wrap:break-word;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:334px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
}
#u126_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:102px;
  height:8px;
}
#u126_seg1 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:-10px;
  width:20px;
  height:20px;
}
#u126_text {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:294px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
}
#u127_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-114px;
  width:8px;
  height:114px;
}
#u127_seg1 {
  border-width:0px;
  position:absolute;
  left:-166px;
  top:-114px;
  width:170px;
  height:8px;
}
#u127_seg2 {
  border-width:0px;
  position:absolute;
  left:-171px;
  top:-120px;
  width:20px;
  height:20px;
}
#u127_text {
  border-width:0px;
  position:absolute;
  left:-78px;
  top:-120px;
  width:100px;
  word-wrap:break-word;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:224px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u128_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:74px;
}
#u128_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:55px;
  width:20px;
  height:20px;
}
#u128_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:25px;
  width:100px;
  word-wrap:break-word;
}
#u129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:747px;
  width:135px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u129_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:131px;
  word-wrap:break-word;
}
#u130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:902px;
  width:135px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u130_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:131px;
  word-wrap:break-word;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:827px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u131_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:79px;
}
#u131_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:60px;
  width:20px;
  height:20px;
}
#u131_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:942px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u132_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:103px;
  height:8px;
}
#u132_seg1 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:-459px;
  width:8px;
  height:463px;
}
#u132_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-459px;
  width:103px;
  height:8px;
}
#u132_seg3 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-465px;
  width:20px;
  height:20px;
}
#u132_text {
  border-width:0px;
  position:absolute;
  left:49px;
  top:-238px;
  width:100px;
  word-wrap:break-word;
}
#u133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(153, 0, 204, 1);
  border-radius:68px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#9900CC;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:1052px;
  width:135px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#9900CC;
}
#u133_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:131px;
  word-wrap:break-word;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:982px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u134_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:74px;
}
#u134_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:55px;
  width:20px;
  height:20px;
}
#u134_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:25px;
  width:100px;
  word-wrap:break-word;
}
#u135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:212px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u135_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  white-space:nowrap;
}
#u136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:260px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:734px;
  width:162px;
  height:260px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u136_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(153, 0, 204, 1);
  border-radius:68px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#9900CC;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:642px;
  width:135px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#9900CC;
}
#u137_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:131px;
  word-wrap:break-word;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:682px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u138_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:50px;
  height:8px;
}
#u138_seg1 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:-4px;
  width:8px;
  height:113px;
}
#u138_seg2 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:101px;
  width:58px;
  height:8px;
}
#u138_seg3 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:95px;
  width:20px;
  height:20px;
}
#u138_text {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:48px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:861px;
  width:120px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u139_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
